@model List<Book>
@{
    ViewData["Title"] = "Index";
}
@{
    var firstName = Model.FirstOrDefault().AuthorName;
    if (firstName == null) firstName = "Unknown Author";

}
<h2>@firstName's  Book List</h2>
<hr />
<table class="text-end " style="width:100%">
    <td>
        <div class=" btn-group" role="group">
            <a asp-controller="Author" asp-action="Edit" asp-route-id="@Model[0].Id "style="white-space: nowrap;">
                <h3 class="text text-primary ">Update</h3>
            </a>
            <a asp-controller="Author" asp-action="Delete" asp-route-id="@Model[0].Id" style="padding-left:10px">
                <h3 class="text text-primary ">Delete</h3>
            </a>

        </div>
    </td>

</table>

<div class="row">

    <div class="col-10">
        <h5>Author image :</h5>
        @if(Model[0].AuthorImage==null|| Model[0].AuthorImage.Length<=0){
            <img src="~/Images/author.png" style="height:100px" />
        }
        else
        {
             <img src="@Model[0].AuthorImage" style="height:100px" />
        }
       
    </div>

</div>

@if (Model.Any())
{
    <table>
        <thead>
            <tr>
                <th style="width:100px">Book ID</th>
                <th>Book Name</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>

                        <a asp-controller="Add" asp-action="Details" asp-route-id="@book.Id">

                            @book.Name
                        </a>
                    </td>
                    @*<td>@book.PublishDate.ToShortDateString()</td>*@
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No books found for this author.</p>
}


